div.headWrapper{
  text-align: left;
}
.headNav{
  /* font-size: 0; */
  line-height: 50px;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}
div.headNav{
  font-size: 24px;
  margin-right: 100px;
}

ul.headNav li{
  display: inline-block;
  border: 1px solid black;
  padding: 5px;
  border-radius: 3px;
  color: black;
  font-size: 16px;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
}
ul.headNav li a{
  text-decoration: none;
  color: black;
  font-size: 16px;
}

ul.headNav li+li{
  margin-left: 20px;
}