.catalog-click{
  margin-right: -26px;
  border-right: none!important;
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
}

ul.sideNav li{
  list-style: none;
  border: 1px solid black;
  margin-bottom: 15px;
  padding: 8px;
  border-radius: 7px;
  background-color: white;
  cursor: pointer;
}

ul.sideNav li a{
  text-decoration: none;
  color: black;
}